table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: lightgreen;
  }
th{
    background-color: Gold;
    font-size: 25px;
}
span{
    font-size: large;
    font-weight: bold;
    color: red;
}