table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: lightgreen;
  }
th{
    background-color: Gold;
    font-size: 25px;
}
label{
  font-size: 20px;
  color:indigo;
  margin-right: 5px;
}
span{
  font-size: 30px;
  color:red;
  margin-right: 5px;
}