div{
    position:absolute;
    left:350px;
    bottom:300px;
    top: 300px;
}
p{
    font-size: 30px;
    color : red;
    text-align: center;
}
img{
    
    height: 300px;
    width: 300px;
}
.home{
    color: blue;
    cursor: pointer;
}